body {
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #161927;
}
* {
    box-sizing: border-box;
}
body, div, ul,nav, header,footer, a, li, label, input {
    margin: 0;
    padding: 0;
}
/*---------- PROFILE-----------*/
.profile {
    container-name: profile;
    container-type: inline-size;
    animation: aparecer 2.4s -.6s both;
}
.profile_container{
    margin: auto;        
    margin-top: 10%;
    display: flex;
    justify-content: center;
    padding: 20px;
    max-width: 800px;
    box-shadow: 0px 0px 9px #161927;
}
.profile_description-container {
    background-color: #2B304C;
    border-radius: 3px;
}
.profile_img-container {
    background-color: #fff;
    overflow: hidden;
}

.img-container{
    max-width: 100%;
    object-fit: cover;
   
}
.profile_description-container h2 {
    color: #8896e6;
}
.profile_description-container {
    padding: 20px;
    color: #fff;
}
/*-----skills----*/
.profile_skills-title {
    text-align: center;
}
.profile_skills-container {
    margin: auto;
    display: flex;
    justify-content: space-around;
    max-width: 760px;
    padding: 20px;
    background-color: #2B304C;
}
.profile_skills h2 {
    color: #8896e6;
    align-content: center;
}
.box_skill {
    
    align-content: center;
    border: 2px solid #3c3e4c;
    border-radius: 5px;
    padding: 10px;
}
.box_skill:hover {
    opacity: 0.9;
    outline: 2px solid #fff6;
}
/*------profile queries------*/
@container profile (max-width:720px) {
    .profile_container {
        flex-direction: column;
     
        
    }
    .profile_skills {
        margin: auto;
        max-width: 450px;   
    }
    .img-container {
        height: 100%;
        object-fit: cover;
        width: 700px;

    }
}

/*------Project section---------*/

.portfolio {
    background-color: #161927;
    text-align: center;
    display: flex;
    flex-direction: column;
    container-name: port-project;
    container-type: inline-size;
}
.portfolio h2 {
    color: #fff;
    text-align: center;   
}
.portfolio__project-container {
    display: grid;
    grid-template-columns: repeat(3, 400px) ;
    grid-template-rows: repeat(3, 200px);   
    justify-content: center;
    gap: 20px;
    max-width: 1400px;
    width: 100%;
    background-color: #161927;
    height: 84vh;
    padding: 50px;
}
.portfolio_title {
    font-size: 3rem;
}
.project_content {
    background-image: linear-gradient(#0005, #0009), url("ezefolio.jpg");
    background-position: center;
    background-size: cover;
    display: grid;
    place-content: center;
    border: 2px solid black;
    background-color: #fff;
    border-radius: 5px;
    animation: aparecer both;
    animation-timeline: view();
    animation-range: cover 10% cover 40%;

}
.project_content:hover {
    opacity: 0.7;
    outline: 2px solid#fff9;
}

/*-----project querie-----*/
@container port-project (max-width:78.25rem)
{
    .portfolio__project-container {
       grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
        height: 200vh;
    }    
}

/*---Form section----*/
.form {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
    padding: 40px;
    color: #8896e6;
    container-name: form;
    container-type: inline-size;
    animation: aparecer both;
    animation-timeline: view();
    animation-range: 20% contain 50%;
}
.form__form {
    flex: 1;
    background-color: #373f7d;
    max-width: 600px;
    width: 100%;
    display: grid;
    border-radius: 3px;
    padding: 20px;
}
.form_title {
    text-align: center;
    color:#fff;
}
.form_input-container :is(input, textarea) {
    width: 100%;
    padding: 10px;
    margin: 4px;
    border: none;
    box-shadow: 2px 2px 4px #001;
    background-color: #fffd;
}
.form_input-container textarea {
    min-height: 150px;
    resize: none;
}
.form_input-container input[type="submit"] {
    padding: 12px;
    background-color: #161927;
    color: #fff;
}
/*---Contact section Querie----*/
@container form (min-width: 56.25rem){
    .form__form {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "name lastname"
        "email email"
        "message message"
        "button button";
        gap: 12px;
        background-image: radial-gradient(#18233ff1, #18233f66);        
        padding: 30px;
        border-radius: 10px;
        
        box-shadow: 0px 0px 40px #0006;
    }
    .form_input-container:first-child {
        grid-area: name;
    }
    .form_input-container:nth-child(2){
        grid-area: lastname;
    }
    .form_input-container:nth-child(3){
        grid-area: email;
    }
    .form_input-container:nth-child(4){
        grid-area: message;
    }
    .form_input-container:nth-child(5){
        grid-area: button;
    }
}
/*CONTACT ENDS*/
/*FOOTER*/
footer {
    border-top: 2px solid #2B304C;
    padding: 30px;
    color: #fff;
    font-size: 15px;
    text-align: center;
}

/*Animations*/

@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}